<div id="blackout-one-day-view" class="d-none">
    <table class="w-25">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>