<div id="one-week-list" class="d-flex flex-row justify-content-between d-none">
    <div>
        <p>Monday</p>
        <div id="0-list">
        </div>
    </div>

    <div>
        <p>Tuesday</p>
        <div id="1-list">
        </div>
    </div>

    <div>
        <p>Wednesday</p>
        <div id="2-list">
        </div>
    </div>

    <div>
        <p>Thursday</p>
        <div id="3-list">
        </div>
    </div>

    <div>
        <p>Friday</p>
        <div id="4-list">
        </div>
    </div>

    <div>
        <p>Saturday</p>
        <div id="5-list">
        </div>
    </div>

    <div>
        <p>Sunday</p>
        <div id="6-list">
        </div>
    </div>
</div>