<div id="blackout-one-week-view" class="d-flex flex-row justify-content-between d-none">
    <div>
        <p>Monday</p>
        <table id="monday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>

    <div>
        <p>Tuesday</p>
        <table id="tuesday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>

    <div>
        <p>Wednesday</p>
        <table id="wednesday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>

    <div>
        <p>Thursday</p>
        <table id="thursday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr>
                <td>09:00</td>
                <td>12:00</td>
            </tr>
        </table>
    </div>

    <div>
        <p>Friday</p>
        <table id="friday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>

    <div>
        <p>Saturday</p>
        <table id="saturday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>

    <div>
        <p>Sunday</p>
        <table id="sunday-table">
            <tr>
                <th>Start</th>
                <th>End</th>
            </tr>
        </table>
    </div>
</div>